.content {
    @extend %section;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   



    .container {
        @extend %flexible;
        justify-content: flex-end;

        @include tablet{
            justify-content: center;
           
        }
        @include phone {
            display: block;
        }

    }

&__right{
    flex-basis: 40%;
    color:$white_color;
    
        
   
}


}

.content1 {
    @include backimage('/app/images/mobi.jpg');
    
}

.content2 {

    @include backimage('/app/images/mobi2.jpg');
    @include phone {
        display: none;
    }
}