.content {
    @extend %section;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    


    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
       
    }

  

}

.content1 {
    background-image: url(/app/images/mobi.jpg);
    background-repeat: no-repeat;
}

.content2 {
    background-image: url(/app/images/mobi\ 2.jpg);
    max-height: 512px;
    
}