.description {
    @extend %section;
    .container{
        @extend %flexible;
        justify-content: space-between;
    }
    &__left{
        flex-basis:40%;
    }
    &__right{
        flex-basis:40%;
    }
    
    h2{
        color: $siren_color;
    }
    p {
        color:$text_color;
    }

}