.description {
    @extend %section;
    .container{
        @extend %flexible;
        flex-basis:1px bold ;
    }
    &__left{
       
    }
    
    h2{
        color: $siren_color;
    }
    p {
        color:$text_color;
    }

}