@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
}

a {
    color: $white_color;
    text-decoration: none;
}

body {
    font: {
        family: $font;
        size: 24px;
    }

    line-height: 1.5em;
}

.container {
    max-width: 940px;
    width: 95%;
    margin: 0 auto;

}
