@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font:{
        family:$font;
        size: 24px;
    }
    .header, .content, .description {
        height:18%;
    }
    .footer {
        height:15%;
    }

.container {
    max-width: 1200px;
    width: 65%;
    margin: 0% auto;
    
}


}