.header {
    @extend %section;
    padding: 50px 0;
    background: linear-gradient(90deg, #7F2F4A 10.63%, #384C85 88.13%),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: $white_color;

    @include tablet {
        min-height: 100%;
        text-align: center;
    }

    &__top {
        @extend %flexible;
        justify-content: space-between;
        border-bottom: 1px solid #FFFFFF;
        padding-bottom: 50px;

        @include tablet {
            flex-direction: column;
            border-bottom: 0;
        }
    }

    &__logo {
        @include tablet {
            border-bottom: 1px solid #FFFFFF;
            padding-bottom: 50px;
            margin-bottom: 50px;
        }
    }

    &__menu {}

    &__tittle {
        letter-spacing: 0.1em;
        padding: 50px 0;
        line-height: 1.75em;
    }




}

.menu {
    &__items {
        @extend %flexible;
        list-style-type: none;

        @include tablet {
            justify-content: center;
        }
    }

    &__item {
        @include tablet {
            margin: 0 35px;
        }

        font: {
            size: 16px;


        }

        text-transform: uppercase;
        margin-left:75px;

        &::after {
            content: "";
            display: block;
            border-bottom: 1px solid $white_color;
            transform: scaleX(0);
            transition: transform 0.3s;
        }

        &:hover::after {
            transform: scaleX(1);

        }

    }
}