.header {
    
    
    background: linear-gradient(90deg, #7F2F4A 10.63%, #384C85 88.13%),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);


    padding: 57px 0px;

    .container {
        margin-left: 250px;
        margin-right: 250px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
        border-bottom: 1px solid #fff;
    }

    .header__menu {
        padding-bottom: 64px;
    }



    ul {
        display: flex;
        padding-bottom: 70px;
        align-items: center;

    }

    li {
        padding-right: 69px;
        list-style-type: none;
        text-transform: uppercase;


    }

    a {
        text-decoration: none;
        color: $white_collor;
        padding-bottom: 21px;
    }

    .border {
        border-bottom: solid 0.5px #fff;
    }
    
    h2 {
        // text-align: center;
        padding: 40.22px;
        color: $white_collor;
        font:$font;
        margin-left: 250px;
    }
    


}